<div class="container">
  <% (@blogs.order created_at: :desc).each do |blog| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-3">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <% if blog.user %>
              by <%= link_to blog.user.user_name, user_path(blog.user) %>
            <% end %>
            <% if blog.categories.any? %>
              <div class="mt-2">
                <%= render blog.categories %>
              </div>
            <% end %>
          </div>
          <div class="card-body">
            <h3 class="card-title"><%= link_to blog.title, blog_path(blog), class: "text-warning" %></h3>
            <p class="card-text"><%= truncate blog.content, length: 100 %></p>
            <%= link_to "View", blog_path(blog), class: "btn btn-outline-success" %>
            <% if logged_in? && (blog.user == current_user || current_user.admin?) %>
              <%= link_to "Edit", edit_blog_path(blog), class: "btn btn-outline-info" %>
              <%= link_to "Delete", blog_path(blog), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words blog.created_at %> ago,
            edited <%= time_ago_in_words blog.updated_at %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
