<% if @pet.errors.any? %>
  <h2>Following error occured when saving new pets.</h2>
  <ul>
  <% @pet.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with model: @pet, local: true do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :Moment %><br/>
    <%= f.text_area :description, size: "60x12"%>
  </p>

  <p>
    <%= f.label :photo %><br/>
    <%= f.file_field :photo %>
  </p>

  <p>
    <%= f.submit class: "btn btn-primary" %>
  </p>

  <br>
<% end %>
