<br>
<div class="container">
  <h1>Dale and Tai's Cat Logs</h1>
</div>
<br>
<div class="container">
  <table class="table table-striped">
    <caption>List of Pets</caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th colspan=3 scope="col" style="text-align:center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @pets.each do |p| %>
      <tr>
        <td scope="row"><%= p.name + "\s" %>&#<%='x' + @cat_emoji.sample + ';' %></td>
        <td scope="row"><%= p.description %></td>
        <td scope="row" style="text-align:center"><%= link_to 'Show', pet_path(p), class: 'text-success' %></td>
        <td scope="row" style="text-align:center"><%= link_to 'Edit', edit_pet_path(p) %></td>
        <td scope="row" style="text-align:center"><%= link_to 'Delete',
                                                      pet_path(p),
                                                      method: :delete,
                                                      data: { confirm: "Are you sure?" },
                                                      class: 'text-danger'%></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary"><%= link_to 'Add a new pet', new_pet_path, class: "text-white"%></button>
</div>
