<div id="page-content-pet-index">
  <h1 class="text-center mt-4">The Kitty Moments</h1>
  <div class="container mt-4">
    <div class="card-deck">
      <% @pets.sort_by {|p| p.updated_at }.reverse.each do |p| %>
        <div class="card shadow-lg mb-4 rounded text-white bg-dark">
            <%= link_to pet_path(p) do %>
              <%= image_tag url_for(p.photo), alt: "image not added", class: "card-img-top rounded" if p.photo.attached? %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title"><%= p.name + "\s" %>&#<%='x' + @cat_emoji.sample + ';' %></h4>
              <p class="card-text"><%= truncate p.description, length: 100 %></p>
              <div class="col text-center">
                <%= link_to "View", pet_path(p), class: "btn btn-warning" %>
                <%= link_to "Edit", edit_pet_path(p), class: "btn btn-info" %>
                <%= link_to "Delete", pet_path(p), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated at <%= p.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y %I:%M%p")%> </small>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
